*{box-sizing: border-box}
p{
  font-family: "Montserrat", monospace;
}
.grid{
  display: grid;
}
.five_cols{
grid-template-columns: auto auto auto auto auto;
}
.two_cols{
  grid-template-columns: auto auto;
}
.four_cols{
  grid-template-columns: auto auto auto auto;
}
.three_cols{
  grid-template-columns: auto auto auto;
}
.centered_items{
  place-items: center;
}
.centered_flex_items{
align-content: center;
justify-content: center;
}
.hero{
  background-image: url("/src/assets/react.svg");
}
.center_text{
  text-align: center;
}
.styled_card{
  width: 80%;
  border-radius: 1.5rem;
}
.card_image{
  padding: 1rem;
}
.block{
  display: block;
}
.centered_item{
  place-self: center;
}
.product_price{
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}
@media screen and (max-width:768px) {
  .grid{
    grid-template-columns: auto;
    place-items: center;
  }
}